body {
	background-color: #ffffff; 
	color: #000000; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	margin: 6px 4px; 
}

p{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

address{ 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 8pt
}

a.alinks{
    font-family: Arial;
    font-size: 10px;
    text-align: center;
    margin: 3px;
    position: relative;
    top: 1px;
/*    bottom: 10px;*/

}
a.alinks:link,a.alinks:visited{
    color: black;
    padding: 1px 10px 1px 10px;
    background-color: #D8D8D8;
    text-decoration: none;
    border-top: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #717171;
    border-right: 1px solid #717171;
}
a.alinks:hover{
    color: #821818;
    padding: 1px 10px 1px 10px;
    background-color: #e2c4c9;
    border-top: 1px solid #717171;
    border-left: 1px solid #717171;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    
}

a:link {
		text-decoration:none;
		color:#000000;
	}
a:visited {
		text-decoration: none;
		color:#000000;
	}
a:hover {
		text-decoration:none;
		color:#333;
	}
a:active {
		text-decoration: none;
	}
a.subtle			{ color: blue; text-decoration: none; }

form				{ display: inline; }

input				{}
input.button			{}
input.button-small		{ font-size: 8pt; }

textarea			{}
select				{}

span				{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; }
span.print			{ font-size: 8pt; }
span.required 		{ font-size: 8pt; color: #bb0000; }
span.small 			{ font-size: 8pt; font-weight: normal; vertical-align:middle;}
span.pagetitle		{ font-size: 12pt; font-weight: bold; text-align: center }
span.bracket-link	{ white-space: nowrap; }

table				{ }
table.hide			{ width: 100%; border: solid 0px #ffffff; }
table.width100		{ width: 100%; border: solid 1px #000000; }
table.width75		{ width: 75%;  border: solid 1px #000000; }
table.width60		{ width: 60%;  border: solid 1px #000000; }
table.width50		{ width: 50%;  border: solid 1px #000000; }
table.width900		{ width: 900px; border: solid 1px #000000; }

td 					{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; padding: 4px; text-align: left; }
td.center			{ text-align: center; }
td.left				{ text-align: left; }
td.right			{ text-align: right; }
td.category			{ background-color: #c8c8e8; color: #000000; font-weight: bold; vertical-align : center; text-align: right}

td.col-1			{ background-color: #d8d8d8; color: #000000; }
td.col-2			{ background-color: #e8e8e8; color: #000000; }
td.form-title		{ background-color: #ffffff; color: #000000; font-weight: bold; text-align: center; }
td.nopad			{ padding: 0px; }
td.small-caption	{ font-size: 8pt; }
td.print			{ font-size: 8pt; text-align: left; padding: 2px; }
td.print-category	{ font-size: 8pt; color: #000000; font-weight: bold; text-align: right; padding: 2px; }
td.print-bottom		{ border-bottom: 1px solid #000000; }
td.print-spacer		{ background-color: #ffffff; color: #000000; font-size: 1pt; line-height: 0.1; padding: 0px;}

tr					{}
tr.spacer			{ background-color: #ffffff; color: #000000; height: 5px; }
tr.row-1			{ background-color: #d8d8d8; color: #000000; }
tr.row-2			{ background-color: #e8e8e8; color: #000000; }
tr.row-category		{ background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category td  {  text-align:center; }
tr.row-category2	{ background-color: #c8c8e8; color: #000000; }
tr.row-category-history { background-color: #c8c8e8; color: #000000; font-weight: bold;}
tr.row-category-history td {  text-align: left; }
tr.vcenter			{ vertical-align: middle; }
tr.print			{ vertical-align: top; }
tr.print-category	{ color: #000000; font-weight: bold; }

#buglist tr			{ text-align: center; }

tr.bugnote				{ vertical-align: top; }
td.bugnote-public		{ background-color: #c8c8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; }
td.bugnote-private		{ background-color: #e8e8e8; color: #000000; font-weight: bold; width: 25%; line-height: 1.4; }
td.bugnote-note-public	{ background-color: #e8e8e8; color: #000000; width: 75%; }
td.bugnote-note-private	{ background-color: #e8e8e8; color: #000000; width: 75%; }

td.login-info-left		{ width: 80%; padding: 0px; text-align: left; }
td.login-info-right		{ width: 20%; padding: 0px; text-align: right; white-space: nowrap; }

td.menu	
{ 
	background-color: #e8e8e8;
	color: #000000;
	text-align: center;
	width: 100%;
	padding: 5px;
}

td.menu a
{
	white-space: nowrap;
}

td.news-heading-public	{ background-color: #c8c8e8; color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-heading-private	{ background-color: #d8d8d8;       color: #000000; text-align: left; border-bottom: 1px solid #000000; }
td.news-body			{ background-color: #ffffff;         color: #000000; padding: 16px; }

img						{}
img.icon				{ width: 11px; height: 11px; }
img.delete-icon			{ position: relative; top: 5px; border: 0; }

div.menu				{ background-color: #e8e8e8; color: #000000; text-align: center; width: 100%; padding: 1px; }

div.border-center		{ background-color: #ffffff; border: solid 1px #000000; text-align: center; width: 50%; position: relative; margin-right: auto; margin-left: auto; }

div.quick-summary-left	{ width: 49%; padding: 2px; text-align: left;  float: left; }
div.quick-summary-right	{ width: 49%; padding: 2px; text-align: right; float: right;}

.center					{ text-align: center; }
.left					{ text-align: left; }
.right					{ text-align: right; }
.small					{ font-size: 8pt; }
.small-normal 			{ font-size: 8pt; font-weight: normal; }
.small-subprojects		{ font-size: 8pt; width: 200px; }
.bold					{ font-weight: bold; }
.bold-small				{ font-weight: bold; font-size: 8pt; }
.italic					{ font-style: italic; }
.italic-small			{ font-style: italic; font-size: 8pt; }
.underline				{ text-decoration: underline; }
.underline-small		{ text-decoration: underline; font-size: 8pt; }
.strike					{ text-decoration: line-through; }
.strike-small			{ text-decoration: line-through; font-size: 8pt; }

.nowrap
{
	white-space: nowrap;
}

.positive
{
	color: green;
}

.negative
{
	color: red;
}

.issue-status
{
	border-bottom: 1px dotted black;
}

.avatar
{
	float: right;
	border: 0;
}

.progress400				{ position: relative; width: 400px; border: 1px solid #d7d7d7; margin-top: 1em; margin-bottom: 1em; padding: 1px; }
.progress400 .bar			{ display: block; position: relative; background: #6bba70; text-align: center; font-weight: normal; color: #333; height: 2em; line-height: 2em; }

@media print{
	.no-print {display:none}
}

.withSTAR{
height:16px;
line-height:21px;
padding-left:16px;
background:url(/images/star/withstar.png) no-repeat left center
}

.withoutSTAR{
height:16px;
line-height:21px;
padding-left:16px;
background:url(/images/star/withoutstar.png) no-repeat left center
}
/*--Wiki Styles--*/

.wiki{
    width:1024px;
    min-height: 350px;
    margin: 0px auto 0px auto;
    position: relative;
}
.wiki a:hover{
   text-decoration: underline; 
}
.wiki .strong{
    font-weight: bold;
}
.wiki .error{
    color: #bb0000;
    padding-top: 5px;
}
.wiki ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.wiki{}
.wiki .mauto{margin-left: auto;margin-right: auto;}
.wiki .clear{clear: both;}
.wiki .fr{float: right;}
.wiki .fl{float: left;}
.wiki .line{
    border-top: solid 1px #EEEEEE;
}
.wiki .line.dashed{
    border-top: dashed 1px #EEEEEE;
}
.wiki .shadow{
    -webkit-box-shadow:  1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:  1px 1px 3px 1px rgba(0, 0, 0, 0.3); 
    box-shadow:  1px 1px 3px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    behavior: url(/styles/PIE/PIE.htc);
}
.wiki .font-shadow{
    -webkit-text-shadow:  0px 0px 1px rgba(0, 0, 0, 0.5);
    -moz-text-shadow:  0px 0px 1px rgba(0, 0, 0, 0.5); 
    text-shadow:  0px 0px 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    behavior: url(/styles/PIE/PIE.htc);
}
.wiki .mb10{
   margin-bottom: 10px;
}
.wiki .mr10{
   margin-right: 10px;
}
.wiki .mt15{
   margin-top: 15px;
}
.wiki .mt30{
   margin-top: 30px;
}
.wiki .mb30{
   margin-bottom: 30px;
}
.wiki .p15{
   padding: 15px;
}
.wiki .radius{
   border-radius:3px;
}
.wiki .tb-style table,.wiki .tb-style th,.wiki .tb-style td{
    padding: 0px;
    margin: 0px;
    border: 0px;
}
.wiki .tb-style th,.wiki .tb-style td{
    height: 34px;
    border-right: 1px solid #D8D8D8;
}
/* Table Style Start*/
.wiki .tb-style table{
    padding: 0px;
    border: 1px solid #D8D8D8;
    background-color: #fff;
    -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, 0.4);
    behavior: url(/styles/PIE/PIE.htc);
}
.wiki .tb-style table th{
    color: rgb(85, 85, 85);
    background-image: linear-gradient(#FAFAFA, #EAEAEA);
    background-image: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
    -pie-background: linear-gradient(#FAFAFA,#EAEAEA);
    background-repeat: repeat-x;
    text-shadow: 0 1px 0 #FFF;
    border-bottom: 1px solid #D8D8D8;
    background-color: #EAEAEA;
    behavior: url(/styles/PIE/PIE.htc);
}
.wiki .tb-style table tr{
    background-color: #FFF; 
}
.wiki .tb-style table tr:nth-child(2n+1){
    background-color: #F7F7F7; 
}
.wiki .tb-style table td{
    text-align: center;
}
/* Table Style End*/
.wiki .pages span{
    display: block;
    float: left;
    padding: 5px 10px;
    background-color: #F7F7F7;
    border: solid 1px #E4E4E4;
    margin-right: 5px;
}

.wiki .pages span.pagesOn{
    color: #8F8F8F;
    border: solid 1px #459455;
}
.wiki .message{
/*    font-weight: bold;*/
    color: #459455;
    padding: 8px 10px;
    margin: 10px 4px;
}
.wiki #title{
    height:30px;
    line-height: 30px;
    width:100%;
    font-size: 18px;    
    padding-left: 5px;
}
.wiki #category{
    font-size: 18px;
    height:34px;
    line-height: 28px;
    width:100%;
}
.wiki #submit,.wiki .back{
    width:150px;
    height:38px;
}
.wiki .back a{
    
    color: #fff;
    text-decoration: none;
}
.wiki .detail{
    margin-top: 20px;
     padding: 10px 20px;
    -webkit-box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.3); 
    box-shadow:  1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    behavior: url(/styles/PIE/PIE.htc);
    
}
.wiki .detail .comments{
    
}
.wiki .navigation{
    margin: 10px 0px;
}

.wiki .navigation a,.wiki .navigation{
    font-size: 14px;
    font-weight: bold;
} 
.wiki dd,.wiki dl,.wiki dt{
    margin: 0px;
    padding: 0px;
}
.wiki .comments dd{
    margin-top: 30px;
    margin-bottom: 30px;
}
.wiki .comments .username{
    margin: 0px;
}
.wiki .comments content{
    margin: 0px;
}
.wiki .comments .container{
    margin-top: 15px;
}
.wiki .detail .title{
    text-align: center;
    font-weight: bold;
}
.wiki .detail .info{
    text-align: center;
}
.wiki .index{
    margin-top: 20px;
}
.wiki .history{
    margin-top: 20px;
}
.wiki .button-style{
    display:block;
    padding:0px 10px;
    height:35px;
    line-height: 35px;
    text-align: center;
}
.wiki .button-style:hover{
    text-decoration: none;
}
/*Form*/
.wiki input[type="text"],.wiki input[type="password"],.wiki select,.wiki textArea
{
    background-color:#ffffff;
    border-width: 1px;
    border-top: #D0D0D0 1px solid;
    border-left: #D0D0D0 1px solid;
    border-right: #EEE 1px solid;
    border-bottom: #EEE 1px solid;
}
.wiki input:focus,.wiki select:focus,.wiki textArea:focus
{
    outline: none;
    border-color:#459455 #5B5 #6D5 #5B5;
}
.wiki input[type="submit"],.wiki input[type="button"],.wiki button,.wiki .button-style
{
    border: 1px solid #DDD;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #60B044;
    background-image: -moz-linear-gradient(#8ADD6D, #60B044);
    background-image: -webkit-linear-gradient(#8ADD6D, #60B044);
    -pie-background: linear-gradient(#8ADD6D,#60B044);
    background-repeat: repeat-x;
    border-color: #5CA941;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    vertical-align: middle;
    cursor: pointer;
    behavior: url(/styles/PIE/PIE.htc);
}
.button-style.btn-red{
    background-image: linear-gradient(#DC5F59, #B33630);
    background-image: -moz-linear-gradient(#DC5F59, #B33630);
    background-image: -webkit-linear-gradient(#DC5F59, #B33630);
    -pie-background: linear-gradient(#DC5F59, #B33630);
    border-color: #CD504A;
    background-color: #B33630;
}
.wiki input[type="submit"]:hover,.wiki input[type="button"]:hover,.wiki button:hover,.wiki .button-style:hover
{
    background-color:#66cc00;
}

html body div#view-content.wiki form#category_form table.category_table tbody tr td.element{
	width: 75%;
}

html body div#view-content.wiki div#category_list {
	position: relative;
	min-width: 512px;
	max-width: 100%;
	height: auto;
	float:left;
}

html body div#view-content.wiki div#edit_form {
	position: relative;
	min-width: 512px;
	height: auto;
	float:right;
}

html body div#view-content.wiki div#deleteMessage {
	position: relative;
	min-width: 512px;
	height: auto;
}

.wiki .buttonMenuBottom{
	position: relative;
	min-width: 512px;
	top: 20px;
}

.wiki div#category_list h3 a.categoryLink{
	cursor: pointer;
}
.wiki div#category_list ul li a.categoryLink{
	cursor: pointer;
}

.wiki div#category_list h3 a.categoryLink:hover
{ 
	color:red;
	text-decoration:none;
}
.wiki div#category_list ul li a.categoryLink:hover{
	color:red;
	text-decoration:none;
}

.editWindow {
	border: solid black 1px;
	background: white;
	position: fixed;
	min-width: 35%;
	height: auto;
	left: 33%;
	top: 50%;
	z-index: 100;
}

.overlay {
    background:rgba(0,0,0,0.3);
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:99;
    pointer-events:none
}


